.ant-form-item {
  margin: 0;
}

.ant-modal-wrap.ant-modal-wrap {
  // add padding when mobile
  padding: 16px !important;
}

.ant-col.ant-form-item-label {
  padding: 0;
  margin-bottom: 8px;
  label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-primary);
    &::after {
      content: '*' !important;
      display: block !important;
      color: var(--error-main);
      visibility: inherit;
    }
  }
}
.ant-form-item .ant-form-item-explain-error {
  margin: 8px 0 0 !important;
  color: var(--error-main) !important;
}
.ant-form-item-required {
  &::before {
    display: none !important;
  }
  &::after {
    content: '*' !important;
    display: block !important;
    color: var(--error-main);
  }
}

.ant-form-item.ant-form-item-has-error {
  span.ant-input-affix-wrapper.ant-input-password,
  .ant-form-item-control-input-content > .ant-input,
  .ant-form-item-control-input-content > .ant-input-affix-wrapper,
  .input-date {
    border-width: 1.5px !important;
    border-color: var(--error-main) !important;
  }
}

.ant-modal {
  // appear only center
  transform-origin: center !important;
}

.ant-modal-mask {
  background: rgba(0, 0, 0, 0.5);
}

.ant-modal-content {
  background: #ffffff;
  box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 0;
  .ant-modal-header {
    border-radius: 10px;
    border: none !important;
  }
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close.ant-modal-close {
    top: 27px;
    right: 27px;

    .ant-modal-close-x {
      width: initial;
      height: initial;
      line-height: normal;
    }
  }
}

.ant-table-pagination.ant-pagination {
  margin: 3px 0 0;
}
.ant-pagination-jump-prev-custom-icon {
  display: flex;
  align-items: center;
}
.ant-pagination {
  display: flex;
  .ant-pagination-options {
    display: none;
  }
}

.btn-prev,
.btn-next {
  margin: 0 !important;
}

.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-pagination-item {
  background-color: transparent;
  border-radius: 10px;
  border: none;
  * {
    font-size: 14px;
    color: #3c3c3c !important;
    font-weight: 400;
  }
}
.ant-pagination-item.ant-pagination-item-active {
  * {
    color: #ffffff !important;
  }
}

.ant-pagination-jump-next {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px !important;
}

.ant-pagination-item-ellipsis {
}

.ant-checkbox-wrapper,
.ant-radio-wrapper {
  align-items: flex-start;

  span p {
    margin: 0 !important;
  }
}

.ant-checkbox {
  box-shadow: none !important;

  &::after {
    display: none;
  }
  .ant-checkbox-inner {
    width: 24px;
    height: 24px;
    border: 1.5px solid var(--primary-main) !important;
    border-radius: 6px;
    box-shadow: none !important;

    &::after {
      left: 24.5%;
      width: 6.714286px;
      height: 12.142857px;
    }
  }

  &.ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: var(--primary-main) !important;
    }
  }
}

.ant-radio {
  box-shadow: none !important;
  &::after {
    display: none;
  }
  .ant-radio-inner {
    width: 24px;
    height: 24px;
    border: 1.5px solid var(--primary-main) !important;
    box-shadow: none !important;
    position: relative;

    &::after {
      left: 50%;
      top: 50%;
      width: 14px;
      height: 14px;
      transform: scale(1) translate(-50%, -50%);
      margin: 0 !important;
    }
  }

  &.ant-radio-checked {
    .ant-radio-inner::after {
      background-color: var(--primary-main) !important;
    }
  }
}

.ant-collapse-header {
  flex-direction: row-reverse;
  padding: 0 0 16px !important;
}
.ant-collapse-header-text {
  text-align: left;
}

.ant-collapse-content-box {
  padding: 0;
}
.ant-collapse {
  border: none;

  .ant-collapse-header {
    .ant-collapse-header-text {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  .ant-collapse-content {
    border: none;
  }

  .ant-collapse-item {
    border: none;
  }
}

.ant-carousel .slick-dots {
  gap: 8px;
  z-index: 6;
}
.ant-carousel .slick-dots li {
  width: initial !important;
}
.ant-carousel .slick-dots li button {
  opacity: 1;
}
.ant-carousel .slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  background: #d3d3d3;
  border-radius: 50%;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #ee7420;
}
.slick-arrow:hover i {
}
.slick-arrow.slick-disabled {
  cursor: not-allowed;

  i {
  }
}
.slick-disabled i {
}

.ant-pagination-options {
  .ant-pagination-options-size-changer {
    .ant-select-selector {
      display: none;
    }
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #f8f8f8;
  box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1) !important;
  border-radius: 10px;
  padding: 0 12px;
  border: 1px solid transparent !important;
  outline: none !important;
  // height: initial !important;
  min-height: 48px;
}

.ant-select-arrow {
  transition: transform 200ms;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 48px;
  font-weight: 400;
  font-size: 14px;
  padding-right: 35px;
  text-align: left;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  text-align: left;
}

.ant-select-open {
  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #ffffff !important;
    border: 2px solid #b4cbab !important;
  }

  .ant-select-arrow {
    transform: rotate(-180deg);
  }
}

.ant-select-dropdown {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 5px 0;
}

.ant-popover-inner.ant-popover-inner {
  padding: 24px !important;
}

.account_modal_popover {
  margin-top: 20px;
  max-width: 360px;
  .ant-popover-content .ant-popover-inner.ant-popover-inner {
    padding: 0 !important;
  }
}

.ant-input-outlined {
  border-width: 1px !important;
}

.ant-input-outlined:hover,
.ant-input-outlined:focus {
  border-width: 1.5px !important;
  border-color: var(--x-hotel-main) !important;
}

.override-ant-select-input {
  .ant-select-single,
  .ant-select-lg,
  .ant-select-outlined {
    height: auto !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-width: 1px !important;
    border-color: var(--divider-default) !important;
    min-height: fit-content !important;
    height: auto !important;
    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    border-radius: 10px;
    padding: 0;

    &:hover {
      border-width: 1.5px !important;
      border-color: var(--x-hotel-main) !important;
    }

    .ant-select-selection-search,
    .ant-select-selection-placeholder {
      height: fit-content;
      inset-inline-start: 0;
      inset-inline-end: 0;
      line-height: 20px;
      padding: 12px 16px;
      .ant-select-selection-search-input {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        height: fit-content;
      }
    }
  }

  .ant-select-open {
    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background: #ffffff !important;
      border: 1.5px solid var(--x-hotel-main) !important;
    }
  }
}
